In [1]:
def greetUser():
  """Display a simple greet"""
  print('Hello')

greetUser()

Hello

In [7]:
def favBook(title):
  print(f"one of my fav book is ",title.title())

In [8]:
favBook('Loool')

one of my fav book is  Loool

In [12]:
def absNum(num):
    if (num<0):
        return num *-1
    else:
        return num


print(absNum(1) )
print(absNum(-1) )

1
1

In [17]:
def mean_Cala(n1 ,n2 , n3):
  """Display Average of three numbers"""
  return (n1 + n2 + n3) /3

mean_Cala(1,3,5)

3.0

In [31]:
def triangle(num):
    """function triangle to draw a triangle of hashes"""
    i = 1
    while (i <= num):
        print('#' * i)
        i +=1

print("triangle(6):")
triangle(6)

print("\ntriangle(3):")
triangle(3)

triangle(6):
#
##
###
####
#####
######

triangle(3):
#
##
###

In [64]:
def greatest_number(num1,num2 ,num3):
    """function returns the greatest in value of the three."""
    if(num1 >= num2 and num1 >= num3):
      max = num1
    elif(num2 >= num1 and num2 >= num3):
      max = num2
    else:
      max = num3

    return max

# Example usage:
print("greatest_number(3, 4, 1):", greatest_number(3, 5, 1))
print("greatest_number(4, 4, 4):", greatest_number(4, 4, 4))
print("greatest_number(5, 3, 7):", greatest_number(5, 3, 7))

print("\n****************************")
############### Another Solution #######################
def greatest_number_v2(num1, num2, num3):
    greatest = num1
    if num2 > greatest:
        greatest = num2
    if num3 > greatest:
        greatest = num3
    return greatest

print("greatest_number_v2(3, 4, 1):", greatest_number(3, 5, 1))
print("greatest_number_v2(4, 4, 4):", greatest_number(4, 4, 4))
print("greatest_number_v2(5, 3, 7):", greatest_number(5, 3, 7))

greatest_number(3, 4, 1): 5
greatest_number(4, 4, 4): 4
greatest_number(5, 3, 7): 7

****************************
greatest_number_v2(3, 4, 1): 5
greatest_number_v2(4, 4, 4): 4
greatest_number_v2(5, 3, 7): 7

In [70]:
def sum_series(n):
    """Function that calculates the sum of the series: 1 - 2 + 3 - 4 + 5 - ... up to n"""
    sum = 0
    i = 1
    while(i <= n):
        if i % 2 == 1:
            sum += i
        else:
            sum -= i
        i += 1
    return sum




print("Corrected version results:")
print(f"sum_series(3): {sum_series(3)}")
print(f"sum_series(5): {sum_series(5)}")
print(f"sum_series(8): {sum_series(8)}")

Corrected version results:
sum_series(3): 2
sum_series(5): 3
sum_series(8): -4

In [44]:
def factorial(num):
  """Function calculate the factorial of a number"""
    fact = 1
    while (num > 1) :
        fact *= num
        num -=1
    return fact

print("factorial(5):", factorial(5))
print("factorial(0):", factorial(0))

factorial(5): 120
factorial(0): 1

In [61]:
def checkWord(word):
    """function that checks if a given word is a palindrome (reads the same forwards and backwards)"""
    word = word.lower()

    if(word == word[::-1]):
        return 'palindrome'
    else:
        return 'Not palindrome'
print("The Word ('LoL') you Entered is :",checkWord('LoL'))
print("The Word ('Nada') you Entered is :",checkWord('Nada'))

The Word ('LoL') you Entered is : palindrome
The Word ('Nada') you Entered is : Not palindrome

In [72]:
def checkWord(word):
  """function that checks if a given word is a palindrome (reads the same forwards and backwards)"""
  word_in_lower = word.lower()
  word_reversed = ''
  for char in word_in_lower:
    word_reversed = char + word_reversed

  if(word_reversed == word_in_lower):
    return "palindrome"
  else:
    return "Not palindrome"

print("The Word ('LoL') you Entered is :",checkWord('LoL'))
print("The Word ('Nada') you Entered is :",checkWord('Nada'))

The Word ('LoL') you Entered is : palindrome
The Word ('Nada') you Entered is : Not palindrome